body {
     width: 1080px;
}


.r{
    color: brown;
    
    
}
nav{
   
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

nav ul li{
    margin-right: 20px;
}
p{
    background-color: yellow;
}

main{
    width: 1080px;
    text-align: center;
}

main p {
    height: 100px;
}

footer{
    width: 1080px;
    height: 200px;
    background-color: black;
    color: white;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact a{

    margin: 20px;
}